@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.main {
  background-image: url(bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 70vh;
  position: relative;
}
.main .box {
  width: 100%;
  height: 70vh;
  filter: opacity(0.7);
  background-color: black;
  position: absolute;
  top: 0;
}
nav {
  max-width: 60vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}
nav img {
  color: red;
  position: relative;
  z-index: 10;
  width: 135px;
}
nav button {
  position: relative;
  z-index: 10;
}
.main-text {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 62px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
  text-align: center;
}
.main-text > :first-child {
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}
.main-text > :nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.main-text > :nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.sepration {
  height: 07px;
  background-color: rgb(58, 58, 58);
  position: relative;
  z-index: 12;
}
.btn {
  padding: 5px 12px;
  font-weight: 500;
  background-color: rgba(233, 227, 227, 0.082);
  color: #fff;
  border: none;
  cursor: pointer;
}
.btn-red {
  background-color: red;
  color: white;
  padding: 4px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 500;
}
.btn-red-sm {
  background-color: red;
  color: white;
  font-family: "Poppins", sans-serif;
}
.input {
  padding: 7px 100px 10px 14px;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(20, 20, 20, 0.8);
  color: #fff;
  font-weight: 900;
  border: 1px solid rgba(216, 215, 215, 0.5);
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 05px;
}
.first-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  max-width: 80vw;
}
.secImg {
  position: relative;
}
.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}
.secImg video {
  position: absolute;
  top: 52px;
  right: 0;
  width: 555px;
  /* width: 550px; */
}
.first-sec div {
  display: flex;
  flex-direction: column;
  padding: 34px 0px;
}
.first-sec div :first-child {
  font-size: 45px;
  font-weight: bolder;
}
.first-sec div :nth-child(2) {
  font-size: 20px;
  font-weight: 500;
}
.faq {
  background-color: black;
  color: #fff;
  padding: 24px;
}
.faq h2 {
  text-align: center;
}
.faqbox {
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 45vw;
  margin: 34px auto;
  cursor: pointer;
}
.faqbox:hover {
  background-color: #414141;
  transform: scale(1.1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.faq h2 {
  font-size: 38px;
}
.faqbox svg {
  color: #fff !important;
  filter: invert(1);
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #fff;
  max-width: 60vw;
}
.footer-link {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
footer {
  margin: auto;
  padding: 64px;
  color: #fff;
  max-width: 60vw;
}
footer a {
  color: #a9a9a9;
}
.faq-heading {
  padding: 30px 0px;
  color: #a9a9a9;
}
.getredy {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 5vh;
  background-color: #a9a9a9;
  font-size: 16px;
  gap: 20px;
}
.copyright a {
  color: #fff;
  font-size: 25px;
}
@media screen and (max-width: 1300px) {
  .first-sec {
    flex-wrap: wrap;
  }
  .footer {
    display: grid;
    grid-template-columns:  1fr;
    text-align: center;
    justify-content: center;
    gap: 05px;
  }
  .footer-link{
    display: flex;
    gap: 05px;
    justify-content: flex-start;
  }
  .footer-link a {
    text-align: left;
  }
  .secImg img {
    width: 305px;
  }
  .secImg video {
    width: 305px;
  }
  .input2 {
    padding: 10px 20px;
    margin: auto;
  }
  .red2 {
    padding: 1px 05px;
    font-size: 12px;
  }
  .main-text > :first-child {
    font-size: 30px;
  }
  .main-text > :nth-child(2) {
    font-size: 16px;
  }
  .main-text > :nth-child(3) {
    font-size: 16px;
  }
  nav {
    max-width: 90vw;
  }
  nav img {
    width: 70px;
  }
  .email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 04px;
  }
  .input {
    padding: 8px 65px 08px 10px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(20, 20, 20, 0.8);
    color: #fff;
    font-weight: 900;
    border: 1px solid rgba(216, 215, 215, 0.5);
  }
  .main-text {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 20px;
    text-align: center;
  }
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100vw;
    height: 5vh;
    background-color: #a9a9a9;
    font-size: 16px;
    gap: 20px;
  }
  .copyright a {
    color: #fff;
    font-size: 16px;
  }
  .faqbox {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 16px 16px 0px 16px;
    max-width: 65vw;
    margin: 20px auto;
    cursor: pointer;
  }
  .faqbox p {
    font-size: 16px;
  }
  .faq h2 {
    font-size: 16px;
  }
  .first-sec div :first-child {
    font-size: 26px;
  }
  .first-sec div :nth-child(2) {
    font-size: 16px;
  }
  .first-sec div {
    padding: 14px 0px;
  }
  .getredy {
    display: flex;
    padding: 0px;
    text-align: start;
    margin-bottom: 06px;
    margin-right: 10px;
    font-size: 14px;
  }
 .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100vw;
    height: 5vh;
    background-color: #706f6f;
    font-size: 10px;
    gap: 10px;
  }
}
